.history{
    background-color: black;
    padding: 40px;
    padding-left: 100px;
    color: white;
}
.history-video{
    text-decoration: none;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    cursor: pointer;
    height: 316px;
    width: 3;
}